@model RegisterExamViewModel
@{

}

<div class="form-body">
    <div class="row">
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <h3>İmtahanların qeydiyyatı</h3>

                    <form asp-controller="Exam" asp-action="RegisterExam" method="post" class="requires-validation" novalidate>

                        <div class="col-md-12">
                            <select asp-for="LessonCode" class="form-select mt-3" required>
                                <option selected disabled value="">Dərs kodu</option>
                                @foreach (var code in Model.LessonCodes)
                                {
                                    <option value="@code">@code</option>
                                }
                                
                            </select>
                            <span class="validationMessage" asp-validation-for="LessonCode"></span>

                            <select hidden asp-for="@Model.LessonCodes">
                                @foreach (var code in Model.LessonCodes)
                                {
                                    <option hidden value="@code">@code</option>
                                }
                            </select>
                        </div>

                        <div class="col-md-12">
                            <select asp-for="StudentNumber" class="form-select mt-2" required>
                                <option selected disabled value="">Şagirdin nömrəsi</option>
                                @foreach (var number in Model.StudentNumbers)
                                {
                                    <option value="@number">@number</option>
                                }
                            </select>
                            <span class="validationMessage" asp-validation-for="StudentNumber"></span>

                            <select hidden asp-for="@Model.StudentNumbers">
                                @foreach (var number in Model.StudentNumbers)
                                {
                                    <option hidden value="@number">@number</option>
                                }
                            </select>
                        </div>

                        <div class="col-md-12 mt-2">
                            <input class="form-control" type="date" asp-for="ExamDate" placeholder="İmtahan tarixi" required>
                            <span class="validationMessage" asp-validation-for="ExamDate"></span>
                        </div>

                        <div class="col-md-12 mt-2">
                            <input class="form-control" type="number" asp-for="Grade" placeholder="Qiyməti" required>
                            <span class="validationMessage" asp-validation-for="Grade"></span>
                        </div>

                        <div class="form-button mt-3">
                            <button id="submit" type="submit" class="btn btn-primary">Əlavə et</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>